@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .login {
    @apply focus:border-b-fuchsia-800;
  }
}

@layer base {
  @font-face {
    font-family: "IranNastaliq";

    font-weight: 700;
    src: url("/fonts/IranNastaliq.ttf") format("truetype");
  }
}

body {
  font-family: "BNazanin";
  font-weight: 600;
}
